<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yxs.backend.mapper.ArticleMapper">
    <resultMap id="articleMap" type="com.yxs160.model.backend.Article">
        <result column="id" property="id" />
        <result column="article_title" property="title"/>
        <result column="article_content" property="content"/>
        <result column="attribute" property="attribute"/>
        <result column="keyword" property="keyword"/>
        <result column="create_time" property="createTime"/>
        <result column="article_status" property="status"/>
        <result column="source" property="source"/>
    </resultMap>


    <select id="findListData" resultMap="articleMap">
        select * from ycms_article
        limit #{page},#{limit}
    </select>
    <select id="findListDataCount" resultType="Integer">
        select count(id) from ycms_article
    </select>

    <insert id="insert">
        insert into ycms_article (article_title, article_content, attribute, keyword, create_time,source) VALUES
         (#{title},#{content},#{attribute},#{keyword},now(),#{source})
    </insert>

    <select id="select" resultMap="articleMap">
        select * from ycms_article where id = #{id}
    </select>

    <update id="update">
        update ycms_article
        <set>
            <if test="title != null and title != ''">
                article_title = #{title},
            </if>
            <if test="content != null and content != ''">
                article_content = #{content},
            </if>
            <if test="keyword != null and keyword != ''">
                keyword = #{keyword},
            </if>
            <if test="source != null and source != ''">
                source = #{source},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
        </set>
        where id = #{id}
    </update>
</mapper>